<body>
    <form action="/lab/check_order" method="POST">
      <label for="order_number">Order:</label><br />
      <input type="number" id="order_number" name="order_number" />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
