<%- include('header'); -%>
<!-- <div class="col-8 d-flex justify-content-center">
    <form action="/user/new_order3" method="POST">
      
      <label for="order_id">Order ID:</label>
      <input type="number" id="order_id" name="order_id" /><br />

      <label for="test_id">Test ID:</label>
      <input type="number" id="test_id" name="test_id" /><br />
     
      <div>
        <input type="submit" value="Add More Test" />
      </div> -->

      <!-- <div>
        <input type="submit" value="Done" />
      </div>
      
    </form>
   </div>  --> 

<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">LabBuddy</h2>
        <div class="text-center mb-5 text-dark">Better Labs For Better Lives</div>
        <div class="card my-5">

          <form class="card-body cardbody-color p-lg-5" action="/user/new_order3" method="POST">

            <div class="text-center">
              
              <img src="/flask.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="labBuddy Logo">  
            </div>

            <div class="mb-3">
              <label for="order_id">Order ID:</label>
              <input type="number" id="order_id" name="order_id" /><br />
            </div>

            <div class="mb-3">
              <label for="test_id">Test ID:</label>
              <input type="number" id="test_id" name="test_id" /><br />
            </div>

            

            <div class="text-center">
              <input class="button1" type="submit" value="Done" />
            </div>
           
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</body>