<%- include('header'); -%>
  <!-- <div class="col-8 d-flex justify-content-center">
    <form action="/user/new_order2" method="POST">
      
      <label for="user_id">User ID:</label>
      <input type="number" id="user_id" name="user_id" /><br />

      <label for="patient_id">Patient ID:</label>
      <input type="number" id="patient_id" name="patient_id" /><br />

      <label for="order_date">Order Date (DD/MM/YYYY):</label>
      <input type="date" id="order_date" name="order_date" /><br />
      
      <div>
        <input type="submit" value="Next" />
      </div>
      
    </form>
   </div>  -->
  
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">LabBuddy</h2>
        <div class="text-center mb-5 text-dark">Better Labs For Better Lives</div>
        <div class="card my-5">

          <form class="card-body cardbody-color p-lg-5" action="/user/new_order2" method="POST">

            <div class="text-center">
              
              <img src="/flask.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="labBuddy Logo">  
            </div>

            <div class="mb-3">
              <label for="user_id">User ID:</label>
              <input type="number" id="user_id" name="user_id" /><br />
            </div>

            <div class="mb-3">
              <label for="patient_id">Patient ID:</label>
              <input type="number" id="patient_id" name="patient_id" /><br />
            </div>

            <div class="mb-3">
              <label for="order_date">Order Date (DD/MM/YYYY):</label>
              <input type="date" id="order_date" name="order_date" /><br />
            </div>  

            <div class="text-center">
              <!-- <button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button> -->
              <input class="button1" type="submit" value="Next" />
            </div>
           
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</body>